body{margin: 0;padding: 0;box-sizing: border-box;}
header{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1621933587/GALLERY%20CARDLESS/backgd_n8ifa4.jpg);}
.nav{width:100vw;height: 65px;background: #09284B;color: white;text-align: center;position: relative;
bottom: 20px}
h2{font-size: 29px;padding-top: 5px;font-family: 'Yesteryear', cursive;}
h1{font-size: 14.5px;letter-spacing: 3px;position: relative;bottom: 27px;font-family: 'Yanone Kaffeesatz', sans-serif;}
.section{max-width: 600px;display: block;margin: 0 auto}
p{width: 100%;padding: 10px;font-size: 19px;text-align: justify;font-family: 'Roboto', sans-serif;color: #09284B}
 span{font-weight: bold;font-size: 20px;letter-spacing: 1.5px}
   @media only screen and (max-width: 714px) {
  .section{max-width: 345px}
   .myText{width: 345px}  
  .myText1{width: 345px}  
  h2{position: relative;top: 5px}
  h1{position: relative;bottom: 15px}
  footer{padding-left: 72px}
  
}

.btn {display: block;margin: 20px auto;height: 50px;font-size: 20px;width: 150px;padding: 5px 15px;line-height:20px;background: #09284B;border: none;color: white;outline: none;}
.btn:hover{background: white;color:#09284b;height: 55px;width: 180px;line-height: 35px;font-size: 25px;font-weight: bold }
.myText{max-width: 600px;display:none;margin: 0px auto;font-size: 17px;padding: 10px}
.btn1 {display: block;margin: 20px auto;height: 50px;font-size: 20px;width: 150px;padding: 5px 15px;line-height: 25px;background: #09284B;border: none;color: white;outline: none;}
.btn1:hover{background: white;color:#09284b;height: 55px;width: 180px;line-height: 35px;font-size: 25px;font-weight: bold }
.myText1{max-width: 600px;display:none;margin: 0px auto;font-size: 17px;padding: 10px}
#gif{background: #09284B;display: block;margin: 0 auto;}
.gif img{display: block;padding: 50px;margin: 0 auto;width:240px}

      

.slider {
   display: flex;
   height: 350px;
   max-height: auto;
   overflow-y: hidden;
   overflow-x: scroll !important;
   padding: 90px 16px;
   transform: scroll(calc(var(--i,0)/var(--n)*-100%));
   scroll-behavior: smooth;
}
 .slider::-webkit-scrollbar {
   height: 5px;
   width: 150px;
   display: none;
}
 .slider::-webkit-scrollbar-track {
   background: transparent;
}
 .slider::-webkit-scrollbar-thumb {
   background: #fff;
}
 .slider::-webkit-scrollbar-thumb:hover {
   background: #fff;
}
 .slider img:hover {
   transform: scale(1.05);
   box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
 .slide {

   position: relative;
}
 .slide img {
   height: 100%;
   width: 200px;
   margin: 0 10px;
   object-fit: cover;
   border-radius: 15px;
   cursor: pointer;
   transition: .25s ease-in-out;
   }
  
.slide img.zoomed{
    width: 500px;
    height: 600px;
    position: fixed;
    left: 25%;
    top: 0%;
    z-index: 1000;
    transform: scale(1) translatey(0) !important; 
  
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.45);
    top: 0;
    display: none;
}
.overlay.active{
  display: block;
}
  
.MAP{width: 100vw;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1621933587/GALLERY%20CARDLESS/mapbg_noqx6d.jpg);background-size: cover;display: block;margin: 0 auto}
h3{text-align: center;color: white;font-size: 25px;padding-top: 50px;letter-spacing: 2.5px;font-family: 'Cabin', sans-serif;}
#map {width: 235px;display: block;margin: 0 auto}
.contact{position: relative;width: 320px;height: 165px;background: white;border: 1px solid gray;display: block;
margin: 10px auto}
.cont{text-align: center;padding-top: 40px;font-weight: bold}
.call{display: block;margin: 0 auto;padding: 5px 10px;background:  white;width: 270px;font-size: 15px;border: 1px solid #09284B;
letter-spacing: .7px;color: #09284B}
.location{position: relative;margin-bottom: 70px}
h5{text-align: center;font-size: 19px;font-weight: bold;font-family: 'Cabin', sans-serif;color: #C58600;padding-top: 40px}
footer{width: 400px;display: block;margin: 0 auto;font-size: 14px;font-family: 'Cabin', sans-serif;color: #C58600;padding-bottom: 20px}
.ourpro{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1621933586/GALLERY%20CARDLESS/backgbsmall_es64qz.jpg);background-size: cover}

